.logoWrap{
    width: 20%;
    display: flex;
    opacity: 1;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.logosWrap{
    position: relative;
    border-bottom: 2px solid rgb(204, 204, 204);
}